.ChooseService {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.ChooseService_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    align-self: center;
    max-width: 800px;
}

.ChooseService_service {
    width: 15rem;
}