.ChooseSlot {
    display: flex;
    flex-direction: column;
}

.ChooseSlot__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ChooseSlot__container {
    display: flex;
    flex-direction: column;
}

.ChooseSlot__available-slots__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    align-self: center;
    max-width: 800px;
}

.ChooseSlot__slot {
    width: 15rem;
}